@model IEnumerable<Utilitar.Models.DayOffType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista tipurilor de concedii</h2>

<p>
    <button class="btn btn-primary">
        <a asp-action="Create">Adauga +</a> 
     </button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Denumire
            </th>
            <th>
                Abreviere
            </th>
            <th>
                Platit
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <button class="btn btn-primary" value="Editeaza">
                        <a asp-action="Edit" asp-route-id="@item.Id">Editeaza</a> 
                    </button>
                    <button class="btn btn-danger">
                        <a asp-action="Delete" asp-route-id="@item.Id">Sterge</a>
                    </button>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
